---
import BaseLayout from '@/layouts/BaseLayout.astro';
import Header from '@/components/Header.astro';
---
<BaseLayout>
  <Header />
  <main>
    <div style="padding: 4rem 2.5rem;">
      <h1 style="font-size:2rem;font-weight:900;">TentaKlik — Work in Progress</h1>
    </div>
  </main>
</BaseLayout>
